<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Create-Data-Frame" data-toc-modified-id="Create-Data-Frame-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Create Data Frame</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#1.-createDataFrame-from-Python-lists" data-toc-modified-id="1.-createDataFrame-from-Python-lists-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>1. createDataFrame from Python lists</a></span></li><li><span><a href="#2.-createDataFrame-from-Python-DataFrame" data-toc-modified-id="2.-createDataFrame-from-Python-DataFrame-1.0.2"><span class="toc-item-num">1.0.2&nbsp;&nbsp;</span>2. createDataFrame from Python DataFrame</a></span></li><li><span><a href="#3.-Create-Data-Frame-by-read-method" data-toc-modified-id="3.-Create-Data-Frame-by-read-method-1.0.3"><span class="toc-item-num">1.0.3&nbsp;&nbsp;</span>3. Create Data Frame by <code>read</code> method</a></span></li><li><span><a href="#4.-Create-Data-Frame-by-rdd.toDF()-method" data-toc-modified-id="4.-Create-Data-Frame-by-rdd.toDF()-method-1.0.4"><span class="toc-item-num">1.0.4&nbsp;&nbsp;</span>4. Create Data Frame by <code>rdd.toDF()</code> method</a></span><ul class="toc-item"><li><span><a href="#4.1-Type-inference-for-dummy-data" data-toc-modified-id="4.1-Type-inference-for-dummy-data-1.0.4.1"><span class="toc-item-num">1.0.4.1&nbsp;&nbsp;</span>4.1 Type inference for dummy data</a></span></li><li><span><a href="#4.2-Type-inference-for-real-data" data-toc-modified-id="4.2-Type-inference-for-real-data-1.0.4.2"><span class="toc-item-num">1.0.4.2&nbsp;&nbsp;</span>4.2 Type inference for real data</a></span></li></ul></li><li><span><a href="#5.-Generate-Data-Frame-with-sql-functions" data-toc-modified-id="5.-Generate-Data-Frame-with-sql-functions-1.0.5"><span class="toc-item-num">1.0.5&nbsp;&nbsp;</span>5. Generate Data Frame with sql functions</a></span></li></ul></li></ul></li><li><span><a href="#Spark-Data-Frame-actions" data-toc-modified-id="Spark-Data-Frame-actions-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Spark Data Frame actions</a></span></li><li><span><a href="#Spark-Data-Frame-methods" data-toc-modified-id="Spark-Data-Frame-methods-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Spark Data Frame methods</a></span></li><li><span><a href="#Spark-Data-Frame-transformations" data-toc-modified-id="Spark-Data-Frame-transformations-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Spark Data Frame transformations</a></span></li><li><span><a href="#Spark-df.groupBy(*cols)-transformation" data-toc-modified-id="Spark-df.groupBy(*cols)-transformation-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Spark df.groupBy(*cols) transformation</a></span></li><li><span><a href="#PySpark-SQL-Functions" data-toc-modified-id="PySpark-SQL-Functions-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>PySpark SQL Functions</a></span></li></ul></div>

In [1]:
from pyspark import SparkConf
from pyspark.sql import SparkSession
spark = (SparkSession.
         builder.
         appName("test").
         enableHiveSupport().
         config('spark.sql.warehouse.dir','/user/hive/warehouse').
#          config("hive.metastore.uris","thrift://localhost:9083").  # deprecated
         getOrCreate())

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
spark.sparkContext.getConf().getAll()

[('spark.driver.port', '33273'),
 ('spark.app.name', 'test'),
 ('spark.app.startTime', '1645898049920'),
 ('spark.executor.id', 'driver'),
 ('spark.driver.host', '192.168.199.77'),
 ('spark.hadoop.fs.default.name', 'hdfs://localhost:9000'),
 ('spark.sql.warehouse.dir', 'hdfs://localhost:9000/user/hive/warehouse'),
 ('spark.sql.catalogImplementation', 'hive'),
 ('spark.rdd.compress', 'True'),
 ('spark.hadoop.fs.defaultFS', 'hdfs://localhost:9000'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.master', 'local[*]'),
 ('spark.submit.pyFiles', ''),
 ('spark.submit.deployMode', 'client'),
 ('spark.app.id', 'local-1645898050735'),
 ('spark.ui.showConsoleProgress', 'true')]

In [4]:
spark.conf.isModifiable('spark.sql.warehouse.dir')

False

In [3]:
spark.version

'3.2.1'

In [5]:
spark.catalog.listDatabases()

[Database(name='default', description='Default Hive database', locationUri='hdfs://0.0.0.0:9000/user/hive/warehouse')]

In [5]:
spark.sql("create database if not exists cbr;")
spark.catalog.listDatabases()

[Database(name='cbr', description='', locationUri='hdfs://localhost:9000/user/hive/warehouse/cbr.db'),
 Database(name='default', description='Default Hive database', locationUri='hdfs://localhost:9000/user/hive/warehouse'),
 Database(name='hive_essentials', description='', locationUri='hdfs://localhost:9000/user/hive/warehouse/hive_essentials.db'),
 Database(name='pluralsight', description='', locationUri='hdfs://localhost:9000/user/hive/warehouse/pluralsight.db'),
 Database(name='rostel', description='', locationUri='hdfs://localhost:9000/user/hive/warehouse/rostel.db'),
 Database(name='rostel_test', description='', locationUri='hdfs://localhost:9000/user/hive/warehouse/rostel_test.db')]

In [6]:
spark.catalog.currentDatabase()

'default'

In [9]:
spark.sql("show tables").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|  default|     test|      false|
+---------+---------+-----------+

# Create Data Frame

###  1. createDataFrame from Python lists

In [4]:
data = [('Bob', 64), ('Liz', 32)]
sdf = spark.createDataFrame(data=data, schema="name string, age int")
sdf.show()

+----+---+
|name|age|
+----+---+
| Bob| 64|
| Liz| 32|
+----+---+

In [7]:
sdf.createOrReplaceTempView("temp_view");

In [11]:
sdf.createOrReplaceGlobalTempView("global_temp_view");

In [15]:
# a dedicated databases

spark.sql("select * from global_temp.global_temp_view").show()

+----+---+
|name|age|
+----+---+
| Bob| 64|
| Liz| 32|
+----+---+

Either list or tuple is accepted as a `schema`

In [9]:
spark.createDataFrame(data=data,schema=('name','age')).show()

+----+---+
|name|age|
+----+---+
| Bob| 64|
| Liz| 32|
+----+---+

###  2. createDataFrame from Python DataFrame

In [10]:
df = pd.DataFrame({'name':['Bob','Liz'],'age':[70,35]}, columns=['name', 'age'])
sdf = spark.createDataFrame(df)
sdf.show()

+----+---+
|name|age|
+----+---+
| Bob| 70|
| Liz| 35|
+----+---+

###  3. Create Data Frame by `read` method

In [11]:
!ls /home/sergey/Py_SparkDataFrame_edx_CS105_CS110_CS120/data/201408_station_data.csv

/home/sergey/Py_SparkDataFrame_edx_CS105_CS110_CS120/data/201408_station_data.csv

In [12]:
!wc -l /home/sergey/Py_SparkDataFrame_edx_CS105_CS110_CS120/data/201408_station_data.csv

71 /home/sergey/Py_SparkDataFrame_edx_CS105_CS110_CS120/data/201408_station_data.csv

In [13]:
path = "file:///home/sergey/Py_SparkDataFrame_edx_CS105_CS110_CS120/data/201408_station_data.csv"
sdf = spark.read.csv(path, header=True, inferSchema = True) 
sdf.show(5)

+----------+--------------------+---------+-----------+---------+--------+------------+
|station_id|                name|      lat|       long|dockcount|landmark|installation|
+----------+--------------------+---------+-----------+---------+--------+------------+
|         2|San Jose Diridon ...|37.329732|-121.901782|       27|San Jose|    8/6/2013|
|         3|San Jose Civic Ce...|37.330698|-121.888979|       15|San Jose|    8/5/2013|
|         4|Santa Clara at Al...|37.333988|-121.894902|       11|San Jose|    8/6/2013|
|         5|    Adobe on Almaden|37.331415|  -121.8932|       19|San Jose|    8/5/2013|
|         6|    San Pedro Square|37.336721|-121.894074|       15|San Jose|    8/7/2013|
+----------+--------------------+---------+-----------+---------+--------+------------+
only showing top 5 rows

In [14]:
sdf.printSchema()

root
 |-- station_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- dockcount: integer (nullable = true)
 |-- landmark: string (nullable = true)
 |-- installation: string (nullable = true)

In [15]:
path = "file:///home/sergey/Py_SparkDataFrame_edx_CS105_CS110_CS120/data/201408_station_data.csv"
sdf = spark.read.format("csv").load(path, header=True, inferSchema = True) 
sdf.show(5)

+----------+--------------------+---------+-----------+---------+--------+------------+
|station_id|                name|      lat|       long|dockcount|landmark|installation|
+----------+--------------------+---------+-----------+---------+--------+------------+
|         2|San Jose Diridon ...|37.329732|-121.901782|       27|San Jose|    8/6/2013|
|         3|San Jose Civic Ce...|37.330698|-121.888979|       15|San Jose|    8/5/2013|
|         4|Santa Clara at Al...|37.333988|-121.894902|       11|San Jose|    8/6/2013|
|         5|    Adobe on Almaden|37.331415|  -121.8932|       19|San Jose|    8/5/2013|
|         6|    San Pedro Square|37.336721|-121.894074|       15|San Jose|    8/7/2013|
+----------+--------------------+---------+-----------+---------+--------+------------+
only showing top 5 rows

In [16]:
sdf.printSchema()

root
 |-- station_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- dockcount: integer (nullable = true)
 |-- landmark: string (nullable = true)
 |-- installation: string (nullable = true)

In [17]:
sdf.count()

70

In [18]:
from pyspark.sql.types import *

path = "file:///home/sergey/Py_SparkDataFrame_edx_CS105_CS110_CS120/data/201408_station_data.csv"

customSchema = StructType([
        StructField("station_id", IntegerType(),True),
        StructField("name", StringType(),True),
        StructField("lat", DoubleType(),True),
        StructField("long", DoubleType(),True),
        StructField("dockcount", IntegerType(),True),
        StructField("landmark", StringType(),True),
        StructField("installation", DateType(),True) # fails here
    ])

sdf = spark.read.option('samplingRatio', .5).csv(path, header=True, schema=customSchema)
sdf.show(5)

+----------+--------------------+---------+-----------+---------+--------+------------+
|station_id|                name|      lat|       long|dockcount|landmark|installation|
+----------+--------------------+---------+-----------+---------+--------+------------+
|         2|San Jose Diridon ...|37.329732|-121.901782|       27|San Jose|        null|
|         3|San Jose Civic Ce...|37.330698|-121.888979|       15|San Jose|        null|
|         4|Santa Clara at Al...|37.333988|-121.894902|       11|San Jose|        null|
|         5|    Adobe on Almaden|37.331415|  -121.8932|       19|San Jose|        null|
|         6|    San Pedro Square|37.336721|-121.894074|       15|San Jose|        null|
+----------+--------------------+---------+-----------+---------+--------+------------+
only showing top 5 rows

In [19]:
sdf.printSchema()

root
 |-- station_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- dockcount: integer (nullable = true)
 |-- landmark: string (nullable = true)
 |-- installation: date (nullable = true)

In [20]:
sdf.groupBy("landmark").count().show()

+-------------+-----+
|     landmark|count|
+-------------+-----+
|    Palo Alto|    5|
|San Francisco|   35|
|     San Jose|   16|
| Redwood City|    7|
|Mountain View|    7|
+-------------+-----+

In [21]:
sdf2 = sdf.sampleBy('landmark', fractions={'Palo Alto': .5, 'San Francisco': .5, 'San Jose': .5}, seed=42)
sdf2.groupBy('landmark').count().show()

+-------------+-----+
|     landmark|count|
+-------------+-----+
|    Palo Alto|    2|
|San Francisco|   14|
|     San Jose|    5|
+-------------+-----+

In [22]:
!hdfs dfs -head {path}

21,Franklin at Maple,37.481758,-122

In [23]:
customSchema2 = "station_id int, name string, lat double, long double, dockcount int, landmark string, installation date"
sdf = (
    spark.
    read.
    option("dateFormat", "M/d/yyyy").
    csv(path=path, header=True, schema=customSchema2)
       )
sdf.show(3)

+----------+--------------------+---------+-----------+---------+--------+------------+
|station_id|                name|      lat|       long|dockcount|landmark|installation|
+----------+--------------------+---------+-----------+---------+--------+------------+
|         2|San Jose Diridon ...|37.329732|-121.901782|       27|San Jose|  2013-08-06|
|         3|San Jose Civic Ce...|37.330698|-121.888979|       15|San Jose|  2013-08-05|
|         4|Santa Clara at Al...|37.333988|-121.894902|       11|San Jose|  2013-08-06|
+----------+--------------------+---------+-----------+---------+--------+------------+
only showing top 3 rows

In [24]:
sdf.printSchema()

root
 |-- station_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- dockcount: integer (nullable = true)
 |-- landmark: string (nullable = true)
 |-- installation: date (nullable = true)

In [25]:
sdf.write.save(path="sdf.parquet", format="parquet", mode="overwrite")
sdf2 = spark.read.load("sdf.parquet", format="parquet", header=True, inferSchema=True)
sdf2.show(3)

+----------+--------------------+---------+-----------+---------+--------+------------+
|station_id|                name|      lat|       long|dockcount|landmark|installation|
+----------+--------------------+---------+-----------+---------+--------+------------+
|         2|San Jose Diridon ...|37.329732|-121.901782|       27|San Jose|  2013-08-06|
|         3|San Jose Civic Ce...|37.330698|-121.888979|       15|San Jose|  2013-08-05|
|         4|Santa Clara at Al...|37.333988|-121.894902|       11|San Jose|  2013-08-06|
+----------+--------------------+---------+-----------+---------+--------+------------+
only showing top 3 rows

In [26]:
sdf2.printSchema()

root
 |-- station_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- dockcount: integer (nullable = true)
 |-- landmark: string (nullable = true)
 |-- installation: date (nullable = true)

`sql.read.text` always returns 1 column named "value"

In [27]:
path2 = "file:///home/sergey/Py_SparkDataFrame_edx_CS105_CS110_CS120/data/README.txt"
df3_2 = spark.read.text(path2)
df3_2.show(5)

+--------------------+
|               value|
+--------------------+
|           FILE LIST|
|1) 201408_status_...|
|2) 201408_station...|
|3) 201408_trip_da...|
|4) 201408_weather...|
+--------------------+
only showing top 5 rows

In [28]:
df3_2 = (spark.
         read.
         option("header", "true"). # doesn't work
         text(path2))
df3_2.show(5)

+--------------------+
|               value|
+--------------------+
|           FILE LIST|
|1) 201408_status_...|
|2) 201408_station...|
|3) 201408_trip_da...|
|4) 201408_weather...|
+--------------------+
only showing top 5 rows

###  4. Create Data Frame by `rdd.toDF()` method

**Another name for `rdd.toDF()` is type inference by Reflection**

#### 4.1 Type inference for dummy data

In [29]:
data

[('Bob', 64), ('Liz', 32)]

In [33]:
sc = spark.sparkContext
sc

In [34]:
rdd = sc.parallelize(data)
df4 = rdd.toDF(schema=['name','age'])
df4.show()

+----+---+
|name|age|
+----+---+
| Bob| 64|
| Liz| 32|
+----+---+

In [ ]:
df4.printSchema()

#### 4.2 Type inference for real data

**Step 1. Strip header**

In [43]:
rdd = sc.textFile(path)
rddWoHeader = rdd.zipWithIndex().filter(lambda x: x[1] > 0 ).map(lambda x: x[0])
rddWoHeader.take(3)

['2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013',
 '3,San Jose Civic Center,37.330698,-121.888979,15,San Jose,8/5/2013',
 '4,Santa Clara at Almaden,37.333988,-121.894902,11,San Jose,8/6/2013']

In [41]:
_ = sc.textFile(path)
_.zipWithIndex().filter(lambda x: x[1]>0).map(lambda x: x[0]).take(3)

['2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013',
 '3,San Jose Civic Center,37.330698,-121.888979,15,San Jose,8/5/2013',
 '4,Santa Clara at Almaden,37.333988,-121.894902,11,San Jose,8/6/2013']

**Step 2. Create `rowRDD`**

In [44]:
from pyspark.sql import Row
from datetime import datetime as dt
rowRDD = (rddWoHeader
          .map(lambda x: x.split(","))
          .map(lambda x: Row(id_=int(x[0])
                             ,name = x[1]
                             ,lat = float(x[2])
                             ,long = float(x[3])
                             ,dockcount = int(x[4])
                             ,landmark = x[5]
                             ,installation = dt.strptime(x[6], '%m/%d/%Y')
                            )
              )
          )

**Step 3. Cast `rowRDD` to DataFrame with `rdd.toDF()` method**

In [76]:
df3 = rowRDD.toDF()
df3.show(5)

+---+--------------------+---------+-----------+---------+--------+-------------------+
|id_|                name|      lat|       long|dockcount|landmark|       installation|
+---+--------------------+---------+-----------+---------+--------+-------------------+
|  2|San Jose Diridon ...|37.329732|-121.901782|       27|San Jose|2013-08-06 00:00:00|
|  3|San Jose Civic Ce...|37.330698|-121.888979|       15|San Jose|2013-08-05 00:00:00|
|  4|Santa Clara at Al...|37.333988|-121.894902|       11|San Jose|2013-08-06 00:00:00|
|  5|    Adobe on Almaden|37.331415|  -121.8932|       19|San Jose|2013-08-05 00:00:00|
|  6|    San Pedro Square|37.336721|-121.894074|       15|San Jose|2013-08-07 00:00:00|
+---+--------------------+---------+-----------+---------+--------+-------------------+
only showing top 5 rows

In [77]:
df3.printSchema()

root
 |-- id_: long (nullable = true)
 |-- name: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- dockcount: long (nullable = true)
 |-- landmark: string (nullable = true)
 |-- installation: timestamp (nullable = true)

In [47]:
from pyspark.sql import functions as F

In [79]:
# PySpark only understands core Python
import math
func = F.udf(lambda x: round(math.log(x),2))
df3.withColumn("dockcount",func(df3["dockcount"])).show(5)

+---+--------------------+---------+-----------+---------+--------+-------------------+
|id_|                name|      lat|       long|dockcount|landmark|       installation|
+---+--------------------+---------+-----------+---------+--------+-------------------+
|  2|San Jose Diridon ...|37.329732|-121.901782|      3.3|San Jose|2013-08-06 00:00:00|
|  3|San Jose Civic Ce...|37.330698|-121.888979|     2.71|San Jose|2013-08-05 00:00:00|
|  4|Santa Clara at Al...|37.333988|-121.894902|      2.4|San Jose|2013-08-06 00:00:00|
|  5|    Adobe on Almaden|37.331415|  -121.8932|     2.94|San Jose|2013-08-05 00:00:00|
|  6|    San Pedro Square|37.336721|-121.894074|     2.71|San Jose|2013-08-07 00:00:00|
+---+--------------------+---------+-----------+---------+--------+-------------------+
only showing top 5 rows

### 5. Generate Data Frame with sql functions

In [ ]:
#gen df with id col
df = spark.range(1,5)
df.select("id").show()

In [52]:
from pyspark.sql.functions import rand
df5 = (spark.range(0, 1000).
       withColumn('rand1', rand(seed=10)).
       withColumn('rand2', rand(seed=27)))
df5.show(5)

+---+------------------+-------------------+
| id|             rand1|              rand2|
+---+------------------+-------------------+
|  0|0.1709497137955568| 0.8894415403143504|
|  1|0.8051143958005459| 0.9658033539477212|
|  2|0.5775925576589018|0.18783354174799438|
|  3|0.9476047869880925|0.28489885393300474|
|  4|   0.2093704977577| 0.5207165345237337|
+---+------------------+-------------------+
only showing top 5 rows

In [53]:
df5.count()

1000

# Spark Data Frame actions

- df.toPandas()
- df.show()
- df.take(n)
- df.collect()
- df.count()
- df.describe()

# Spark Data Frame methods
- df.cache()  # `.cache()` is lazy, i.e. an action must occur before actual caching happens
- df.unpersists() # `uncache`
- df.printSchema()
- `df.select('name1', function('name2'), df.name3, ...., 'nameN')`
- df.drop('nameN')
- df.select(function('nameN').alias('anotherName')) # udf or imported func
- `df.sample(withReplacement=False, fraction=0.10)`

# Spark Data Frame transformations

- df.filter(func) - returns rows where func evaluates to "True"
- df.where(func) - "where" is alias for "filter"
- df.distinct() - distinct rows
- df.orderBy(\*colS)
- df.sort(\*colS)
- df.explode(coL) - returns new row for each element in a specified column


# Spark df.groupBy(*cols) transformation

- df.groupBy(\*cols).agg(avg, min, max, count, sum)
- df.groupBy(\*cols).avg()
- df.groupBy(\*cols).count()

In [73]:
data = [('Bob', 64), ('Liz', 32)]
sdf = spark.createDataFrame(data=data, schema="name string, age int")
ageCol = sdf.age
ageCol

Column<'age'>

In [80]:
df3.printSchema()

root
 |-- id_: long (nullable = true)
 |-- name: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- dockcount: long (nullable = true)
 |-- landmark: string (nullable = true)
 |-- installation: timestamp (nullable = true)

In [86]:
df33 = df3.withColumnRenamed("id_", "station_id")

In [88]:
df3 = df33.select('station_id','dockcount')
df3.show(3)

+----------+---------+
|station_id|dockcount|
+----------+---------+
|         2|       27|
|         3|       15|
|         4|       11|
+----------+---------+
only showing top 3 rows

# PySpark SQL Functions  

- df.select(concat(\*colNames))
- df.select(concat(\*colNames, lit('string')) # `lit` Creates a Column of literal values

In [89]:
df33.select(df33.dockcount+10).show()

+----------------+
|(dockcount + 10)|
+----------------+
|              37|
|              25|
|              21|
|              29|
|              25|
|              25|
|              25|
|              25|
|              25|
|              29|
|              29|
|              25|
|              29|
|              25|
|              25|
|              35|
|              25|
|              25|
|              25|
|              25|
+----------------+
only showing top 20 rows

In [90]:
from pyspark.sql.functions import avg
df33.select(avg("dockcount")).show()

+-----------------+
|   avg(dockcount)|
+-----------------+
|17.65714285714286|
+-----------------+

In [95]:
import pyspark
dir_(pyspark.sql.types)

['ArrayType',
 'AtomicType',
 'BinaryType',
 'BooleanType',
 'ByteType',
 'CloudPickleSerializer',
 'DataType',
 'DataTypeSingleton',
 'DateConverter',
 'DateType',
 'DatetimeConverter',
 'DecimalType',
 'DoubleType',
 'FloatType',
 'FractionalType',
 'IntegerType',
 'IntegralType',
 'JavaClass',
 'LongType',
 'MapType',
 'NullType',
 'NumericType',
 'Row',
 'ShortType',
 'SparkContext',
 'StringType',
 'StructField',
 'StructType',
 'TimestampType',
 'UserDefinedType',
 '_FIXED_DECIMAL',
 '_acceptable_types',
 '_all_atomic_types',
 '_all_complex_types',
 '_array_signed_int_typecode_ctype_mappings',
 '_array_type_mappings',
 '_array_unsigned_int_typecode_ctype_mappings',
 '_atomic_types',
 '_create_converter',
 '_create_row',
 '_create_row_inbound_converter',
 '_has_nulltype',
 '_infer_schema',
 '_infer_type',
 '_int_size_to_type',
 '_make_type_verifier',
 '_merge_type',
 '_need_converter',
 '_parse_datatype_json_string',
 '_parse_datatype_json_value',
 '_parse_datatype_string',
 '_test',
 '_type_mappings',
 '_typecode',
 'array',
 'base64',
 'calendar',
 'ctypes',
 'datetime',
 'decimal',
 'dt',
 'json',
 're',
 'register_input_converter',
 'size',
 'sys',
 'time']

In [97]:
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType
slen = udf(lambda s: len(s), IntegerType()) # Specify Return Type
sdf.select(slen('name').alias('length')).show(5)

+------+
|length|
+------+
|     3|
|     3|
+------+

In [98]:
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType
double_dock = udf(lambda x: 2*int(x), IntegerType())
df3.select(double_dock('dockcount').alias('double_dockcount')).show(5)

+----------------+
|double_dockcount|
+----------------+
|              54|
|              30|
|              22|
|              38|
|              30|
+----------------+
only showing top 5 rows

In [99]:
df3.select((2*df3.dockcount).alias('double_dockcount')).show(5)

+----------------+
|double_dockcount|
+----------------+
|              54|
|              30|
|              22|
|              38|
|              30|
+----------------+
only showing top 5 rows

In [100]:
df3.describe('dockcount').show()

+-------+-----------------+
|summary|        dockcount|
+-------+-----------------+
|  count|               70|
|   mean|17.65714285714286|
| stddev|4.010441857493953|
|    min|               11|
|    max|               27|
+-------+-----------------+

Does not work!!!

In [105]:
df3['dockcount'].max()

TypeError: 'Column' object is not callable

In [106]:
df3.groupBy().max('dockcount').show()

+--------------+
|max(dockcount)|
+--------------+
|            27|
+--------------+

In [107]:
from pyspark.sql.functions import max
to_int = udf(lambda x: int(x), IntegerType())
df3.select(max(to_int('dockcount')).alias("MX")).show()

+---+
| MX|
+---+
| 27|
+---+

In [ ]:
from pyspark.sql.functions import max
to_int = udf(lambda x: int(x), IntegerType())
df3.select(to_int('dockcount')).groupby().max().show()

This is just enough !!!

In [108]:
from pyspark.sql.functions import max
df3.select(max('dockcount')).show()

+--------------+
|max(dockcount)|
+--------------+
|            27|
+--------------+

In [109]:
df22.select(df22.a, explode(df22.intlist).alias('Single int')).show()

NameError: name 'df22' is not defined